@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Poppins:wght@200;400;600&display=swap');

@mixin fluid-layout($devices, $operator:"==") {

	@each $device in $devices {

		@if $device == mobile-portrait {
			@media (max-width: 576px) and (max-height: 1024px) and (max-aspect-ratio: 2/3) {
				@content
			}
		}
		@if $device == mobile-landscape {
			@media (max-width: 1024px) and (max-height: 576px) and (min-aspect-ratio: 3/2) {
				@content
			}
		}
		@if $device == tablet-portrait {
			@media (max-width: 1024px) and (min-width: 480px) and (min-aspect-ratio: 10/17) and (max-aspect-ratio: 1/1) {
				@content
			}
		}
		@if $device == tablet-landscape {
			@media (max-width: 1440px) and (min-height: 468px) and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 17/10) {
				@content
			}
		}
		@if $device == desktop-portrait {
			@media (min-width: 682px) and (min-height: 1024px) and (min-aspect-ratio: 1/2) and (max-aspect-ratio: 2/3) {
				@content
			}
		}
		@if $device == desktop-landscape {
			@media (max-width: 1920px) and (min-height: 576px) and (min-aspect-ratio: 3/2) and (max-aspect-ratio: 2/1) {
				@content
			}
		}
	}

}


@mixin interpolate($properties, $min-screen, $max-screen, $min-value, $max-value) {
	& {
		@each $property in $properties {
			#{$property}: $min-value;
		}

		@media screen and (min-width: $min-screen) {
			@each $property in $properties {
				#{$property}: calc-interpolation($min-screen, $min-value, $max-screen, $max-value); 
			}
		}

		@media screen and (min-width: $max-screen) {
			@each $property in $properties {
				#{$property}: $max-value;
			}
		}
	}
}

// Requires the calc-interpolation function which can also be used independently

@function calc-interpolation($min-screen, $min-value, $max-screen, $max-value) {
	$a: ($max-value - $min-value) / ($max-screen - $min-screen);
	$b: $min-value - $a * $min-screen; 

	$sign: "+";
	@if ($b < 0) {
		$sign: "-";
		$b: abs($b);
	}
	@return calc(#{$a*100}vmax #{$sign} #{$b});
}

html {scrollbar-width: thin;scrollbar-color: rgba(255,255,255,0.25) #161616;}

body::-webkit-scrollbar {width: 5px}
body::-webkit-scrollbar-thumb {background-color: rgba(255,255,255,0.5);border-radius:3em}
body::-webkit-scrollbar-track {
	background: #161616;
}

body {

	*, *::before, *::after {box-sizing: border-box;font-family: Poppins;}
	&::before {
		position: absolute;
		font-size: xx-small;
		// background: white;
		color: white;
		z-index: 3;
		left: 50%;
		top: 10vmin;
		translate:-50%;


		// @include fluid-layout("mobile-portrait") {
		// 	content: "mobile-portrait"
		// }
		// @include fluid-layout("mobile-landscape") {
		// 	content: "mobile-landscape"
		// }
		// @include fluid-layout("tablet-portrait") {
		// 	content: "tablet-portrait"
		// }
		// @include fluid-layout("tablet-landscape") {
		// 	content: "tablet-landscape"
		// }
		// @include fluid-layout("desktop-portrait") {
		// 	content: "desktop-portrait"
		// }
		// @include fluid-layout("desktop-landscape") {
		// 	content: "desktop-landscape"
		// }

	}

	@media (orientation: portrait) {
		font-size: clamp(10px, 1.5vmax, calc(0.35842vw + 0.75296em));
	}
	// @media screen and (min-width:187.5em) {font-size:1.625em}
	@include fluid-layout("mobile-landscape") {
		// p {font-size: 80%}

	}
	line-height: 1.5;
	overflow-x: hidden;
	display: flex;
	justify-content: center;
	width: 100vw;
	min-height: 100vh;
	height: 1px;
	background-color: #191919;
	font-size: clamp(13px, 2vmin, calc(0.35842vmin + 0.75296em))
	// max-width: 1920px;
	

	// * {font-size: inherit;}

}
#root {
	$landscapeOnly: (mobile-landscape, tablet-landscape, desktop-landscape);
	$portraitOnly: (mobile-portrait, tablet-portrait, desktop-portrait);
	@include fluid-layout(join($portraitOnly, mobile-landscape)) {padding: 0;width: 100%}
	display: flex;
	flex-direction: column;
	width: 80%;
	max-width: 1100px;
	height: max-content;
	background: rgba(25, 25, 25, 1);
	// padding: 0 10%;
	position: relative;
	justify-content: center;

	header, img {user-select: none;}

	.nav-container {
		@include fluid-layout(mobile-landscape) {width: 100% !important; height: var(--expand, fit-content) !important}
		@include fluid-layout(desktop-portrait) {height: var(--expand, 10vmin) !important;}
		@include fluid-layout(join($portraitOnly, mobile-landscape)) {
			width: 100%;
			height: var(--expand, 10vmax);
			
		}
		position: fixed;
		display: flex;
		justify-content: center;
		z-index: 1;
		width: calc(80% + 10px);
		max-width: 1100px;
		height: fit-content;
		background: rgba(24, 24, 24, 0.95);
		backdrop-filter: blur(5px);
		border-bottom: 1px solid white;
		top: 0;
		left: 50%;
		transform: translate(calc(-50% + 3px));
		transition: transform 0.25s, height 0.25s, width 1s;
		z-index: 2;
		margin: 0 -3px;


		&.hide {
			transform: translate(-50%, var(--hide, -10vmax));
			width: calc(80% * 0.9);
		}
		&.expand {
			@include fluid-layout(join($portraitOnly, mobile-landscape)) {
				@media (max-width: 768px) {
					--slideIn: 0;
					--expand: 25vmax;
					--hide: -25vmax;
				}
			}
		}

		#nav {
			// @include fluid-layout(mobile-landscape) {grid-template-rows: 10vmin !important;}
			@include fluid-layout(desktop-portrait) {width: calc(90%)}
			@media (max-width: 768px) {
				// width: 95%;
				// height: 10vmax;
				grid-template-rows: 10vmax;
				grid-template-areas: "button logo cart";
				grid-template-columns: repeat(3, auto);
			}

			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
			'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
			sans-serif;
			-webkit-font-smoothing: antialiased;
			// min-height: 10vmin;
			height: clamp(50px, 10vmin, 80px);
			width: calc(90% - 10px);
			display: grid;
			z-index: 2;
			grid-template-areas: "logo list cart";
			grid-template-columns: repeat(3, auto);
			justify-content: space-between;
			align-items: center;

			a {
				// font-size: 60%;
				transition: transform 0.5s, text-shadow 0.25s;
				display: inline-block;
			}

			.navItem {
				color: white;
				text-decoration: none;
				font-family: Poppins;
				padding: 1vmin;
				text-shadow: none;
				

			}
			#navStart {
				@media (max-width: 768px) {
					place-self: center;
				}

				display: flex;
				place-self: center start;
				font-weight: 600;
				grid-area: logo;

				.navItem {
					/*  */
					padding: 0;
				}

			}

			.navCenter {

				@media (max-width: 768px) {
					grid-area: button;
					justify-content: center;
				}

				display: flex;
				transform: none;
				flex-direction: row;
				justify-content: space-evenly;
				width: fit-content;
				// max-width: 50vmin;
				transition: width 0.25s, transform 2s;
				font-weight: 600;
				grid-area: list;
				position: relative;
				color: transparent;


				#togglepullDownBar {
					@media (max-width: 768px) {
						order: -1;
						display: inline-block;
						background: url("./assets/shared/tablet/icon-hamburger.svg") center no-repeat;
						border: none;
						cursor: pointer;
					}

					display: none;
					grid-area: button;
					position: absolute;
					height: 100%;
					aspect-ratio: 1/1;
				}
				#links {
					@media(max-width: 768px) {
						width: 50%;
						position: fixed;
						display: flex;
						flex-direction: column;
						text-align: center;
						left: 50%;
						transform: translate(-50%, var(--slideIn, -40vmax));
						// bottom: 0px;
						top: 7vmax;
						gap: 1vmax;
						transition: transform 0.75s;
						margin-bottom: 2vmax;
					}

					a {transform: scale(0.75);}

					.navItem {
						&:hover {
							text-shadow: 1px 1px 1.5em hsl(63%, 50%, 100 / 0.5)
						}
					}

				}

			}

			#navEnd {
				display: flex;
				position: relative;
				grid-area: cart;
				justify-content: center;
				align-items: center;
				color: transparent;


				.navItem {
					background: url("./assets/shared/desktop/icon-cart.svg") center/100% no-repeat;
					height: 100%;
					position: absolute;
					aspect-ratio: 1/1;
				}

			}
		}
	}

	main {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: center;
		// @include fluid-layout(mobile-landscape) {
		// 	font-size: xx-small;
		// }

		#showcase {
			display: flex;
			flex-flow: column wrap;
			justify-content:center;
			color: grey;
			position: relative;
			align-content: flex-start;
			flex-wrap: wrap;
			align-items: center;
			width: 90%;
			// height: 100vh;
			place-self: center;
			position: relative;
			z-index: 1;
			padding: 0 5%;
			aspect-ratio: 2/1;
			max-height: 720px;
			box-sizing: content-box;

			// &.vh100 {
			// 	@include fluid-layout(mobile-landscape) {
			// 		padding: calc((100vh - ((100vw * (1 * 0.9) / 2))) / 2);
			// 	}
			// 	@include fluid-layout((mobile-portrait, tablet-portrait)) {
			// 		aspect-ratio: 1/2;
			// 		padding: calc((100vh - ((100vw * (1 * 0.9) * 2))) / 2);
			// 	}
			// 	padding: calc((100vh - ((100vw * (0.8 * 0.9) / 2))) / 2);
			// }

			&.vh100 {
				--paddingX: calc((min(1100px, 100vw) - (min(1100px, 100vw) * 0.9)) / 2);
				--paddingY: clamp(100px, calc((100vh - ((min(1100px, 100vw) * (0.9) / 2))) / 2), 302.5px);
				@include fluid-layout(mobile-landscape) {
					padding: calc((100vh - ((100vw * (1 * 0.9) / 2))) / 2);
				}
				@include fluid-layout((mobile-portrait, tablet-portrait)) {
					aspect-ratio: 1/2;
					padding: calc((100vh - ((100vw * (1 * 0.9) * 2))) / 2);
				}
				padding: var(--paddingY) var(--paddingX);
			}

			&::before {

				@include fluid-layout($portraitOnly) {
					position: absolute;
					width: clamp(100px, 75%, 500px);
					left: 13%;
				}

				@keyframes headphones {
					from {opacity: 0;transform: scale(0)rotate(365deg)}
					to {transform: scale(1);opacity: 1;}
				}
				position: relative;
				content: '';
				background: url(./assets/home/tablet/image-header.jpg) center center/120% no-repeat;
				// border-top: 14vmin solid transparent;
				// border-bottom: 25vmin solid transparent;
				border-radius: 3em;
				mix-blend-mode: multiply;
				z-index: -1;
				order: 1;
				width: clamp(100px, 50%, 750px);
				// height: 50%;
				aspect-ratio: 1/1;
				right: 0;
				animation: headphones 1.5s ease-in forwards 1;
			}

			.productItem {
				@include fluid-layout(mobile-landscape) {justify-content: flex-start;}
				@include fluid-layout($portraitOnly) {
					text-align: center;
					max-width: 100%;
					// padding: 12vmin;
					// gap: 8vmin;
					justify-content: center;

				}

				@include fluid-layout("mobile-portrait") {
					gap: 2vmax;
				}

				-webkit-font-smoothing: antialiased;
				color: grey;
				display: flex;
				flex-direction: column;
				max-width: 50%;
				grid-gap: 1vmin;
				font-family: 'Poppins';

				* {
					margin: 0;
					// padding: 0;
				}
				h1 {
					color: white;
					line-height: 1.4em;
					text-shadow: 1px 1px 0.1em #e6e6e6;
				}

				button {
					@media (orientation: portrait) {--s: 6.5vmax}
					@include fluid-layout($portraitOnly) {
						// min-width: 20vmax;
						// height: 6.5vmax;
						// font-size: 80%;
						place-self: center;

					}

					width: max-content;
					aspect-ratio: 2/1;
					// height: var(--s, inherit);
					border: 1px solid rgba(216, 124, 73, 1);
					color: rgba(216, 124, 73, 1);
					font-family: 'Poppins';
					cursor: pointer;

					font-size: inherit;
					padding: 0 5%;

					&:hover{
						background: rgba(216, 124, 73, 1);;
						color: white;
					}
				}
			}



		}
		#content {
			@include fluid-layout($portraitOnly) {
				width: 100%;
				// flex-direction: column;
				gap: 10vmax;
				padding: 20% 5%;

			}
			width: 100%;
			height: max-content;
			padding: 5%;
			background: #fff;
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;
			align-content: space-around;
			gap: 5vmin;

			&__categories-container {
				@include fluid-layout($portraitOnly) {
					// aspect-ratio: initial;
					flex-wrap: wrap-reverse;
					justify-content: space-around;
					align-content: center;
				}
				width: 100%;
				// min-height: 50vh;
				// max-height: 100vh;
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				align-items: center;
				gap: 5vmin;
				aspect-ratio: 3/1;

				.content__categories {

					display: flex;
					position: relative;
					flex-flow: column nowrap;
					justify-content: center;
					align-items: center;
					width: 45%;
					// height: 100%;
					background-color: rgba(0,0,0, 0.1);
					border-radius: 0.5em;
					aspect-ratio: 2/1;

					img {
						position: absolute;
						width: 50%;
						// height: 20vmin;
						mix-blend-mode: multiply;
						top: -35%;
						// translate: 0 15%;
						z-index: 0;
					}
					h6, a {position: relative;top: 0%}
					h6 {margin-bottom: 0;}
					a {
						z-index: 1;
						width: max-content;
						color: grey;
						font-weight: 700;
						text-decoration: none;
						&::after {
							position: inline-block;
							content: '>';
							color: orange;
							font-weight: 700;
							font-family: 'Poppins';
							left: 6vmin;
						}
					}



				}
			}

			#content__featured {
				width: 100%;
				display: flex;
				flex-flow: column nowrap;
				// aspect-ratio: 40/21;
				gap: 10vmin;

				.product {

					@media (orientation: portrait) {
						&.main {aspect-ratio: 3/4 !important;}
						&.asBackground, &.split {aspect-ratio: 2/1 !important;}
					}

					display: flex;
					flex-flow: row nowrap;
					border-radius: 0.5em;

					&.asBackground, &.split {
						@media (orientation: portrait) {
							aspect-ratio: 2/1 !important;
							& #descriptionContainer {
								aspect-ratio: 1/1 !important;
							}
						}
						aspect-ratio: 16/4;
						overflow: hidden;

					}
					&.main {
						background: #D87C49 url("./assets/home/desktop/pattern-circles.svg") no-repeat;
						width: 100%;
						aspect-ratio: 2/1;
						color: white;
						
						#imgContainer img {
							@media (orientation: portrait) {height: 35%;place-self: center}
							width: auto;
							height: 75%;
							
						}
						#descriptionContainer {
							button {
								font-family: 'Poppins';
								font-weight: 700;
								--btn-bg: transparent;
								--btn-border: 1px solid white;
								--btn__hover-bg: rgba(255,255,255,1);
								--text-color: white;
								--text__hover-color: #d87c49;
							}
						}
					}

					&.asBackground {
						@media (orientation: portrait) {
							box-shadow: inset 52px 0px 2em 33px #e4e4e4, inset -5px -19px 2em 33px #e4e4e4;
						}
						width: 100%;
						color: #191919;
						background: #E9E9E9 url("./assets/home/desktop/image-speaker-zx7.jpg") no-repeat 100% 50%/100%;

						/* #descriptionContainer {
						} */
					}

					&.split {
						justify-content: center;
						align-items: center;
						gap: 2%;
						div, img {border-radius: 0.5em;}
						#imgContainer {
							height: 100%;
							overflow: hidden;

							img {object-fit: contain;}

						}
						#descriptionContainer {
							background-color: rgba(0,0,0, 0.1);
							height: 100%;
						}
					}
					#imgContainer {
						display: flex;
						justify-content: center;
						align-items: flex-end;
						width: 50%;

						&.align {
							&-right {order: 1}
						}
					}
					#descriptionContainer {
						display: flex;
						flex-flow: column;
						justify-content: center;
						gap: 5%;
						align-content: flex-start;
						align-items: flex-start;
						width: 50%;
						padding: 0 5%;
						aspect-ratio: 2/1;

						&> * {
							margin: 0;
						}

						p {
							@media (orientation: portrait) {max-width: 100%}
							max-width: 75%
						}
						button {
							@include fluid-layout((mobile-landscape, mobile-portrait)) {
								width: max-content;
								padding: 0 3%
							}

							--btn-border: 1px solid #191919;
							--btn__hover-bg: #191919;
							--text__hover-color: #e6e6e6;
						}

					}
				}
			}
			#content__about {
				@media (orientation: portrait) {aspect-ratio: 3/4;}
				display: flex;
				flex-flow: row wrap;
				justify-content: space-evenly;
				aspect-ratio: 2/1;

				div {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-flow: column nowrap;
					aspect-ratio: 1/1;
					width: 50%;
					overflow: hidden;
					border-radius: 0.5em;
					
					&:first-of-type {
						text-align: start;
						padding: 0 5% 0 0;

						h1 {place-self: flex-start}
						span {color: orange}

					}

					img {width: 100%}


				}
			}

		}
	}
	#footer {
		background: rgba(25, 25, 25, 1);
		color: white;

		.columns-2-flex {
			@media (orientation: portrait) {
				--aspect-ratio: 4/3;
			}
			--aspect-ratio: 3/1;

			div:last-of-type {
				display: flex;
				flex-flow: column;
				align-items: flex-end;

				h3 {text-align: right}
				#link-icons {
					display: flex;
					flex-flow: row;
					justify-content: right;
					width: 100%;
					gap: 5%;
					a {
						width: 30px;
						aspect-ratio: 1/1;
						display: block;
					}
				}
			}
		}
	}
}

button {
	font-family: 'Poppins';
	font-weight: 700;
	font-size: inherit;
	background: var(--btn-bg, transparent);
	border: var(--btn-border, 1px solid var(--text-color));
	color: var(--text-color, inherit);
	padding: 0 2%;
	// width: 12em;
	aspect-ratio: 2/1;
	cursor: pointer;
	transition: background 250ms, color 250ms;

	&:hover {
		background: var(--btn__hover-bg, rgba(0,0,0, 0.1));color: var(--text__hover-color,#191919);
	}
}

.columns-2-flex {
	display: flex;
	flex-flow: var(--flex-flow, row wrap);
	width: 100%;
	padding: 5%;
	aspect-ratio: var(--aspect-ratio, 2/1);
	gap: 2%;

	div {
		width: 49%;
	}
}