@use './_mixins.scss' as mixins;

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;

    &.loading {
        input {
            cursor: progress;
        }
        &::before {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.5);
        }
    }

    .sidebar {
        &::before {
            position: relative;
            content: "Filter +";
            font-family: Poppins;
            font-weight:600;
            color: grey;
        }
        width: 28%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        box-shadow: 1px 1px 0.2em #00191919;;
        z-index:0;
        background: white;
        padding-top: 5%;

        .filter {
            width: 85%;
            font-weight: 300;
            .filter-header {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                padding: 0 5%;
                aspect-ratio: 4/1;
                font-weight: 300;
                
                &:hover {
                    box-shadow: inset 0px 4px 0.2em #00191919;
                    background: rgba(216,124,73,0.1);
                    
                    & + .filter-items {
                        box-shadow: inset 1px 1px 0.5em rgba(0,0,0,0.1);
                    }
                    
                }
                
                p {
                    width: min-content;
                }
                span {
                    scale: 0.65;
                    transform: rotate(0deg);
                    transition: transform 0.5s;
                    color: burlywood;

                    &.expand {
                        transform: rotate(-180deg)
                    }
                }
            }
            .filter-items {
                height: 0px;
                overflow-y: hidden;
                transition: 250ms ease;

                form {
                    fieldset {

                        &[disabled=''] {
                            --disabled: progress;
                        }

                        display: contents;
                        label, input {
                            cursor: var(--disabled, pointer);
                            font-weight: 200;
                            font-family: fantasy

                        }
                    }
                }

            }
        }
    }
    .wrapper {
    
        width: 72%;
        padding: 5%;
        background: white;
        display: flex;
        flex-flow: column wrap;
        position: relative;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-flow: column nowrap;

            span { display: flex; justify-content: space-around; align-items: center;max-height: clamp(50px, 50%, 200px);}

            .filtersApplied {
                display: flex;
                flex-flow: row wrap;
                gap: 2%;
                position: relative;
                z-index: 1;
                max-width: calc(1100px * 0.62);
                min-width: 350px;
                translate: 0 -50px;
                padding: 8px 0;
                 &:empty::before {
                    content: 'Selected filters will appear here.';
                    position: relative;
                    color:rgba(0,0,0, 0.2)
                 }
    
                .filters {
                    background: red;
    
                    .btnWrapper {
    
                        display: flex;
                        flex-flow: row nowrap;
                        cursor: pointer;
                        box-shadow: 0px 0px 1em -5px #c9c9c9;
                        border-radius: 3em;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        gap: 3px;
    
                        & > * {
                            padding: 0.5em 1em;
                        }
    
                        .btnLabel {
                            width: 70%;
                            margin: 0;
                            height: min-content;
                            user-select: none;
                        }
                        .btn-removeFilter {
                            border:none;
                            width: 30%;
                            height: 110%;
                            background: transparent;
                            border-radius: 0 3em 3em 0;
                            box-shadow: inset 0px 0px 1px rgba(0,0,0, 0.1);
                            transition: 128ms;
                            cursor: pointer;
    
                            &:hover {
                                //background: palevioletred;
                                box-shadow: inset 0px 0px 1em 1px palevioletred;
                                text-shadow: 0px 0px 1em red;
                                color: red;
                            }
                        }
                    }
                }
                .item {
                    padding: 0 3%;
                    flex: 0 1 25%;
                    display: flex;
                    gap: 10%;
                    border: 1px solid #00191919;
                    border-radius: 3em;
                    cursor: pointer;
                    transition: 250ms;
                    animation: 750ms ease forwards;
                    // animation-duration: 750ms;
                    // animation-timing-function: ease;
                    // animation-direction: forwards;
    
                    &:hover {
                        // background: rgba(216, 124, 73, 1);
                        // color: white;
                        text-shadow: 1px 1px 0.5em white;
                        box-shadow: 0px -5px 0.5em #00191919;
                    }
    
                    p {flex: 1 1 60%}
                    button {
                        flex: 1 1 40%;
                        padding: unset;
                        --btn__hover-bg: #ff7171;
                        --text__hover-color: unset;
                        border-radius: 0 3em 3em 0;
                        margin-right: -17%;
                        box-shadow: none;
                        transition: 500ms;
    
                        &:hover {
                            box-shadow: inset -10px 1px 1em rgba(0,0,0,0.2);
                        }
                    }
    
                    @keyframes delete {
                        to {
                            opacity: 0;
                            transform: translate(-30%);
                        }
                    }
                    @keyframes add {
                        from {opacity: 0}
                        to {
                            opacity: 1;
                        }
                    }
    
                }
    
            }
        }
       

        .products-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: baseline;
            
            &.active {
                --ZI: 0;
                --bg: red;

            }
            .card {


                .face {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    border-radius: 10px;
                    text-align: center;
                    z-index: 0;
                    transition: 500ms ease;

                }

                .front {
                    -webkit-transform-style: preserve-3d;
                    transform-style: preserve-3d;
                    flex: 1 0 30%;
                    cursor: pointer;
                    position: relative;
                    z-index: var(--ZI, 2);


                    .product-container {
                        display: flex;
                        flex-flow: column nowrap;
                        flex: 1 0 30%;
                        background: linear-gradient(0deg, white, #e9e9e9 59%);
                        .img-container {
                            color: black;
                        }
                        .product-name {
                            border-radius: 0.5em;
                            display: flex;
                            flex-flow: column nowrap;
                            align-items: center;
                            padding: 15%;
                            transition: 1s ease;
                            
                            &:hover {
                                cursor: pointer;
            
                            }
                            h3 {margin: 0;}
                            p {
                                text-align: center;
                                color: #191919;
                                padding: 0;
                                margin: 0;
        
                                &:first-of-type {
                                    color: #c9c9c9;
                                    font-weight: 400;
                                }
        
                            }
                        }
            
                    }
                }
                .back {
                    z-index: 1;
                    background: var(--bg, transparent);
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;

                    & > * {
                        -webkit-transform: rotateY(180deg);
                        transform: rotateY(180deg);

                        & > button {
                            border-radius: 3em;
                            opacity: var(--opacity, 1);
                            transition: 100ms;
                        }
                    }
                    .detailsBtnCntr{--x: red}
                    .addToCartCntr {--y: blue}
                    .addToFvrtCtr {
                        input {
                            mix-blend-mode: luminosity;

                            &:hover, &:focus {
                                mix-blend-mode: darken;
                            }
                        }
                    }
                }

            }
        }
        
        .paginationContainer {
            display: flex;
            flex-flow: row wrap;
            gap: 2.5%;
            align-content: center;
            justify-content: center;

            button {
                padding: 2px;
                font-weight: 300;
                padding: 0;
                aspect-ratio: 1/1;
                height: 100%;
                transition: 250ms;

                &:focus {
                    // background:rgba(0,0,0, 0.1);
                }
            }
        }

    }
}

.productDetailsWrapper {
    --hello: 'k'
}